
.idea/CS361Project.iml
.idea/misc.xml
CS361Project/__pycache__/__init__.cpython-310.pyc
CS361Project/__pycache__/__init__.cpython-38.pyc
CS361Project/__pycache__/settings.cpython-310.pyc
CS361Project/__pycache__/settings.cpython-38.pyc
CS361Project/__pycache__/urls.cpython-310.pyc
CS361Project/__pycache__/urls.cpython-38.pyc
CS361Project/__pycache__/wsgi.cpython-310.pyc
CS361Project/__pycache__/wsgi.cpython-38.pyc
db.sqlite3
TAScheduler/__pycache__/__init__.cpython-310.pyc
TAScheduler/__pycache__/__init__.cpython-38.pyc
TAScheduler/__pycache__/admin.cpython-310.pyc
TAScheduler/__pycache__/admin.cpython-38.pyc
TAScheduler/__pycache__/apps.cpython-310.pyc
*.pyc
.idea/CS361Project.iml
.idea/misc.xml
.idea/CS361Project.iml
.idea/misc.xml
db.sqlite3
