<!DOCTYPE html>
<html>
    <head>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </head>
    <body>

    <br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <h1>TA Scheduling Website</h1>
            </div>
            <div class="col-md"></div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br>

    <div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md" style="border-style:ridge; display:block; text-align:center;" >
            <form action="/" method="post">
                {%  csrf_token %}
                <label for="useraccount">Username</label>
                <input type="text" id="useraccount" name="useraccount">
                <br>
                <br>
                <label for="password">Password</label>
                <input type="text" id="password  " name="password">
                <br>
                <br>
                <input type="submit" value="Submit">
                <br>
                <br>
            </form>
    </div>
      <div class="col"></div>
  </div>
</div>
    <div class="container">
        <div class="row">
            <div class="column">
            <!--Context variables if there was an unsuccesful login, the 'error' variable needs to be used in the Login.post() method-->
                {% if error %}
                {{ error }}
                {% endif %}
            </div>
        </div>
    </div>


    </body>
</html>