<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <br><br><br><br><br><br><br><br><br><br>

    <div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md" style="border-style:ridge; display:block; text-align:center;" >
            <form action="/createcourse/" method="post">
                {%  csrf_token %}
                <label for="ID">Course ID</label>
                <input type="text" id="ID" name="ID">
                <br>
                <br>
                <label for="name">Course name</label>
                <input type="text" id="name" name="name">
                <br>
                <br>
                <label for="location">Location</label>
                <input type="text" id="location  " name="location">
                <br>
                <br>
                <label for="hours">Hours of class</label>
                <input type="text" id="hours" name="hours">
                <br>
                <br>
                <label for="days">Days of class</label>
                <input type="text" id="days  " name="days">
                <br>
                <br>
                <label for="instructor">Instructor Name</label>
                <input type="text" id="instructor" name="instructor">
                <br>
                <br>
                <label for="TAs">Teacher Assistants</label>
                <input type="text" id="TAs  " name="TAs">
                <br>
                <br>
                <label for="labs">Labs</label>
                <input type="text" id="labs  " name="labs">
                <br>
                <br>
                <input type="submit" value="Submit">
                <br>
                <br>
            </form>
    </div>
      <div class="col"></div>
  </div>
</div>

    <div class="container">
        <div class="row">
            <div class="column">
            <!--Context variables if there was an unsuccesful login, the 'error' & 'success' variable needs to be used in the CreateCourse.post() method-->
                {% if success %}
                {{ success }}
                {% endif %}

                {% if error %}
                {{ error }}
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>


